<h1>Shopping list</h1>
<h3>Recipe: <%= @recipe.name %></h3>
<div class='d-flex justify-content-between align-items-center'>
  <p>Amount of food items to buy: <%= @recipe_foods.count%> </p>
  <p>Total value of food needed: $<%= @foods.inject(0){|sum, food| sum + (food.price*food.quantity).round(2)} %></p>
</div>

<table class="table">
  <thead class="border-b">
    <tr>
      <th class='col'>Food</th>
      <th class='col'>Quantity</th>
      <th class='col'>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <th scope='row' ><%= food.name %></th>
        <td><%= food.quantity %> <%= food.measurement_unit %></td>
        <td><%= (food.price*food.quantity).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
