<div id="recipe_details">
  <h1><%= @recipe.name %></h1>
  <% if current_user == @recipe.user %>
    <%= button_to recipe_path(@recipe.id), :method => :patch do %>
      <% if @recipe.public %>
        Public
        <i></i>
      <% else %>
        Private
        <i></i>
      <% end %>
    <% end %>
  <% end %>

  <p>Preparation time: <%= @recipe.preparation_time %> <%= "hour".pluralize(@recipe.preparation_time) %></p>
  <p>Cooking time: <%= @recipe.cooking_time %> <%= "hour".pluralize(@recipe.cooking_time) %></p>
  <p><%= @recipe.description %></p>
</div>


<% if current_user == @recipe.user %>
  <div id="recipe_actions">
    <%# <%= link_to "Generate shopping list", general_shopping_list_path(@recipe.id) %>
    <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id) %>
  </div>
<% end %>

<div id="recipe_foods">
  <table>
    <thead class="border-b">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price * recipe_food.quantity %></td>
          <td>
            <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete%>
            <%= link_to "Edit", edit_recipe_recipe_food_path(@recipe, recipe_food) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
