<div>
  <div class='d-flex justify-content-between align-items-center'>
    <h1><%= @recipe.name %></h1>
    <% if current_user == @recipe.user %>
      <%= button_to recipe_path(@recipe.id), :method => :patch, class:'btn btn-secondary' do %>
        <% if @recipe.public %>
          make private
        <% else %>
          make public
        <% end %>
      <% end %>
    <% end %>
  </div>
  <p>Preparation time: <%= @recipe.preparation_time %> <%= "hour".pluralize(@recipe.preparation_time) %></p>
  <p>Cooking time: <%= @recipe.cooking_time %> <%= "hour".pluralize(@recipe.cooking_time) %></p>
  <p><%= @recipe.description %></p>
</div>


<% if current_user == @recipe.user %>
  <div class='d-flex justify-content-between align-items-center'>
    <%= link_to "Generate shopping list", shopping_list_path(@recipe.id), class:'btn btn-secondary' %>
    <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id), class:'btn btn-primary' %>
  </div>
<% end %>

<table class="table">
  <thead class="border-b">
    <tr>
      <th class='col'>Food</th>
      <th class='col'>Quantity</th>
      <th class='col'>Value</th>
      <% if can? :destroy, @recipe %>
        <th class='col'>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <th scope='row' ><%= recipe_food.food.name %></th>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.food.price * recipe_food.quantity %></td>
        <% if can? :destroy, @recipe %>
          <td>
            <div  class='d-flex align-items-center'>
            <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class:'btn btn-danger' %>
            <%= link_to "Edit", edit_recipe_recipe_food_path(@recipe, recipe_food), class:'btn btn-secondary' %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

