<h1>Edit recipe food</h1>

<%= form_with(url: recipe_recipe_food_path, model: @recipe_food) do |form| %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, value: 1, required: true %>
    <%= form.collection_select :food_id, current_user.food, :id, :name, { include_blank: false } %> 
    <%= form.submit "Save changes" %>
<% end %>

<%= link_to "Add new food", new_food_path %>