<h1>Add New Ingredient</h1>

<%= form_with(url: recipe_recipe_foods_path, model: @recipe_food) do |form| %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, value: 1, required: true, step: 1 %>
    <%= form.collection_select :food_id, current_user.foods, :id, :name, { include_blank: false } %> 
    <%= link_to "Add New Food", new_food_path %>
    <%= form.submit "Add Ingredient" %>
<% end %>